* {
    background-color: #252525;
    color: antiquewhite;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    /* border: 1px solid white; */
}

h1 {
    text-align: center;
    font-size: 48px;
    font-family: Helvetica;
    padding: 10px;
    border: 2px solid white;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

.Start-Photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
}



.Description {
    text-align: center;
    width: 1800px;
    margin: auto;
}

h4 {
    font-size: 18px;
}

.exit {
    text-align: center;
}

.Options {
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    margin: auto;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;

}

.Ingredients{
    border: 2px solid white ;
    background-color: black;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
}

ul, ul li, .Ingredients h4 {
    background-color: black;
}

.titletext {
    text-align: center;
    width: 500px;
    background-color: rgb(250,235,215);
    color: #252525;
    border: 2px solid white;
    margin: auto;
    margin-top: 15px;
    padding: 20px 10px;
}


.Steps {
    width: 1500px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
}

.stepstitle {
    padding-left: 23px;
}